* {
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

h1{
    text-align: center;
    margin-top:5cm;
    font-size: 4rem;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h6 {
    text-align: center;
}
body{
    background-color: #f89df1;
}
#container{
    margin-left: 10%;
}

.img {
    display: inline-block;
}

.img .s {
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.img:hover .s {
    transform: scale(1.3);
    display: flex;
    flex-direction: column;
}

span {
    display: none;
    z-index: 2;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(78, 78, 78);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 20px;
}

.date {
    text-align: left;
    font-style: italic;
    margin-top: 20px;
}

.emoji {
    font-size: 3rem;
}

.img:hover span {
    display: inline;
}

.img:hover img {
    z-index: 2;
}

img {
    position: relative;
    z-index: -1;
}

.s::before {
    content: '';
    position: absolute; 
    top: 50%;
    left: 50%;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: white;
    width: 0;
    height: 0;
    border-radius: 4%;
    z-index: -1;
}

.img:hover .s::before {
    top: -30px;
    left: -30px;
    width: 115%;
    height: calc(100% + 100px);
    z-index: 1;
    box-shadow: 10px 10px 100px 10px black;
}
